<section class="about">
    <div class="container">
        <div class="profile-header">
            <div class="profile-info">
                <h1>Ritik Patel: Man with kind Heart</h1>

            </div>
            </div>
                <p> Ritik Patel, an international student at Georgian College, blends creativity with his passion for computer programming.
                Currently interning, Ritik finds balance through meditation, fostering innovative thinking.
                His diverse hobbies include music, reading, cricket, and dance.
                Ritik's love for travel enriches his creative spirit, inspiring exploration of new cultures and ideas.
                With a deep-seated affection for coding, he constantly seeks to push boundaries, embracing new technologies to enhance his skills and contribute
                creatively to the evolving tech landscape.</p>
    </div>
</section>
