<section class="hero">
    <div class="hero-content">
        <h1>Welcome to My Portfolio - Ritik Patel</h1>
        <p>Exploring life's journey through coding, creativity, and endless curiosity. Let's connect and make magic happen!</p>
        <a href="/contact">Let's connect!</a>
    </div>
    <div class="image-content">
        <img src="/images/Ritik.jpg" alt="Ritik Patel">
    </div>
</section>
