<section class="projects">
    <div class="container">
        <h1>Projects</h1>
        
        <div class="project">
    <h2>Do or Die</h2>
    <p>The "Do or Die" project is a high-stakes initiative using
     cutting-edge AI and blockchain technology to revolutionize 
     secure data transactions. The goal is to develop an immutable,
     decentralized system that ensures privacy, transparency, 
     and efficiency, transforming industries reliant on secure information exchange.</p>
</div>

<div class="project">
    <h2>Quantum Leap</h2>
    <p>Quantum Leap aims to harness quantum computing capabilities
     for advanced computational simulations. Utilizing quantum 
     algorithms and superposition principles, the project seeks 
     to redefine problem-solving in fields like chemistry, 
     materials science, and cryptography.</p>
</div>

<div class="project">
    <h2>Todo List</h2>
    <p>A Java-based Todo List mini-project helps users manage tasks efficiently.
         It includes functionalities like adding tasks with descriptions and deadlines,
        marking tasks as completed, editing or deleting tasks, and sorting tasks based on priority or date.
        The project emphasizes CRUD operations (Create, Read, Update, Delete) using object-oriented principles, 
        file handling for persistent storage, and a simple command-line interface for user interaction.
        It's a practical exercise in applying core Java concepts such as classes, objects, inheritance,
         and collections while providing a useful tool for personal task management.
    </p>
</div>
        
    </div>
</section>
